[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[difftool]
	prompt = false
[color]
	ui = auto
	status = auto
	branch = auto
[user]
	name = Aaron Molitor
	email = ammolitor@gmail.com
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[push]
	default = simple
[core]
	excludesfile = /Users/ammolitor/.gitignore_global
	autocrlf = input
[init]
	defaultBranch = main
[url "git@github.com:"]
	insteadOf = https://github.com/
